/*
Tips:

1. Using a URL such as ../img/16x16/administrative-docs.png will get you to the base img directory 
*/
#header {
	color: #0080ce;
	font-size: 12px;
	font-weight: normal;
}
#header div.main-nav{ width: 100%; }
#header div.main-nav div.logo{
	float: left;
	display: block;
	clear: none;
	height: 81px;
	width: 99px;
}
#header div.main-nav ul{ 
	float: left;
	clear: none;
	margin: 0 0 0 21px;
	padding: 30px 0 0 0;
	width: 500px;
}
#header div.main-nav ul li,
#header div.main-nav ul li a{
	display: inline;
	clear: none;
	list-style-type: none;
	font-size: 12px;
}
#header div.main-nav ul li a:link,
#header div.main-nav ul li a:active,
#header div.main-nav ul li a:visited{
	text-decoration: none;
}
#header div.main-nav ul li a:hover{
	text-decoration: none;
	border-bottom: 1px solid #0080ce;
}
#header div.user-panel{
	float: right;
	width: 270px;
	padding: 30px 0 0 0;
	margin: 0;
	text-align: left;
	clear: none;
}
#header div.user-panel a:link,
#header div.user-panel a:active,
#header div.user-panel a:visited{
	text-decoration: underline;
}
#header div.user-panel a:hover{
	text-decoration: none;
}
#header div.sub-nav {
	position: relative;
	text-align: left;
	margin: 10px auto;
	width: 917px;
	height: 30px;
	padding: 10px;
	background: #f2f2f2;
}
#header div.sub-nav label{
	float: left;
	clear: none;
	display: inline;
	font-size: 18px;
	color: #535353;
	margin: 0 10px 0 0;
	padding: 0;
}
#header div.sub-nav input[type="text"]{
	color: #a9a9a9;
	float: left;
	clear: none;
	width: 270px;
	padding: 0 3px 0 3px;
	margin: 0;
	height: 18px !important;
	font-size: 12px !important;
	border: 0;
}
ul.info{
	list-style-type: none;
	padding: 0;
	margin: 20px 0 20px 0; 
	font-size: 18px;
}
ul.info li{
	display: inline;
	padding: 0;
	margin: 0 10px 5px 0;
	color: #9c9c9c;
}
ul.info li span.value{
	font-weight: bold;
	color: #000000;
}
ul.info li span.count{
}
ul.info li span.price{
	color: green;
}
.clear{
	width: 100%;
	clear: both;
}
.footnote{
	font-size: 10px;
	text-align: center;
}
.radio{
	background: url('../img/common/radio-button-killer.png') no-repeat;
	width: 50px !important;
	height: 20px !important;
	float: left;
	clear: none !important;
	margin: 0px !important;
	padding: 0px !important;
	opacity:0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
}
.radio-checked{
    background: url('../img/common/radio-button-killer.png') no-repeat;
    width: 50px !important;
	height: 20px !important;
	float: left;
	clear: none !important;
	margin: 0px !important;
	padding: 0px !important;
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}
div.stacks.index tr{
	width: 100%;
	background: blue;
	float: left;
}
div.stacks.index tr td.card{
	position: relative;
	float: left;
	display: block;
	background: #fff772;
	width: 282px !important;
	height: 178px !important;
	line-height: 178px;
	margin: 15px 5px 5px 0 !important;
	padding: 0px;
	border: none;
}
div.stacks.index tr td.card div.card-data{
	padding: 55px 15px 15px 15px;
}
div.stacks.index tr td.card a{
	display: block;
	text-align: left;
	padding: 0 !important;
	text-indent: 0px;
	font-size: 24px;
	line-height: normal !important;
	color: #535353;
	text-decoration: none;
	font-weight: normal;
	border: none;
	background: transparent;
}
div.stacks.index tr td.card p{
	padding: 0;
	margin: 0;
	line-height: normal !important;
}