/*
Tips:

1. Using a URL such as ../img/16x16/administrative-docs.png will get you to the base img directory 
*/

/**
* COMMON COLORS
*
* Background color: #f8f8f8
* H1/title color: #0080ce
* H1/title color:hover: #006cae
* H2, H3, H4: #7b7b7b
* Link color: #0080ce
* Sub-menu background color: #f2f2f2
* Dark grey: #535353
* Light grey: #c9c9c9
* Logo colors: 
* 	Yellow: #ffcf0c
* 	Blue: #0085cf
*
* Icon colors:
* 	Grey: #474747
* NEW! Icon color: #005aa3
* Card colors:
* 	Pink: #fabec3
* 	Green: #daeac8
* 	Orange: #ffa760
* 	Yellow: #fff772
* 	Blue: #cae9ee
*/

#header {
	color: #0080ce;
	font-size: 12px;
	font-weight: normal;
	margin: 10px 0 0 0;
	padding: 0;
}
#header div.main-nav{ width: 100%; }
#header div.main-nav div.logo{
	float: left;
	display: block;
	clear: none;
	height: 81px;
	width: 99px;
}
#header div.main-nav ul{ 
	float: left;
	clear: none;
	margin: 0 0 0 21px;
	padding: 30px 0 0 0;
	width: 500px;
}
#header div.main-nav ul li,
#header div.main-nav ul li a{
	display: inline;
	clear: none;
	list-style-type: none;
	font-size: 12px;
}
#header div.main-nav ul li a:link,
#header div.main-nav ul li a:active,
#header div.main-nav ul li a:visited{
	text-decoration: none;
}
#header div.main-nav ul li a:hover{
	text-decoration: none;
	border-bottom: 1px solid #0080ce;
}
#header div.user-panel{
	float: right;
	width: 270px;
	padding: 30px 0 0 0;
	margin: 0;
	text-align: left;
	clear: none;
}
#header div.user-panel a:link,
#header div.user-panel a:active,
#header div.user-panel a:visited{
	text-decoration: underline;
}
#header div.user-panel a:hover{
	text-decoration: none;
}
#header div.sub-nav {
	position: relative;
	text-align: left;
	margin: 15px 0 0 0;
	width: 100%;
	height: 30px;
	padding: 0px;
	background: #f2f2f2;
}
#header div.sub-nav label{
	float: left;
	clear: none;
	display: inline;
	font-size: 18px;
	color: #535353;
	margin: 0 10px 0 0;
	padding: 0;
}
#header div.sub-nav input[type="text"]{
	color: #a9a9a9;
	float: left;
	clear: none;
	width: 270px;
	padding: 0 3px 0 3px;
	margin: 0;
	height: 18px !important;
	font-size: 12px !important;
	border: 0;
}
span.card-overlay{
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 0px;
	width: 282px;
	height: 169px;
	background: transparent url('../img/common/card-overlay-dark-282x169.png') no-repeat top left;
}
.shadow {
	-moz-box-shadow: 0px 2px 3px #949494;
	-webkit-box-shadow: 0px 2px 3px #949494;
	box-shadow: 0px 2px 3px #949494;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=0, Color='#949494')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=0, Color='#949494');
}
.rotate{
	/*-webkit-transform-origin: 141px 89px;*/
	-webkit-transform: rotate(3.5deg);  /* Saf3.1+, Chrome */
	-moz-transform: rotate(3.5deg);  /* FF3.5+ */
	-ms-transform: rotate(3.5deg);	 /* IE9 */
	-o-transform: rotate(3.5deg);	 /* Opera 10.5 */
	transform: rotate(3.5deg);
	/* IE6–IE9 */
	/*filter: progid:DXImageTransform.Microsoft.Matrix(
	M11=0.9914448613738104, M12=-0.13052619222005157,M21=0.13052619222005157, M22=0.9914448613738104, sizingMethod='auto expand');*/
}
.rotate-more{
	/*-webkit-transform-origin: 141px 89px;*/
	-webkit-transform: rotate(-3.5deg);  /* Saf3.1+, Chrome */
	-moz-transform: rotate(-3.5deg);  /* FF3.5+ */
	-ms-transform: rotate(-3.5deg);	 /* IE9 */
	-o-transform: rotate(-3.5deg);	 /* Opera 10.5 */
	transform: rotate(-3.5deg);
	/* IE6–IE9 */
	/*filter: progid:DXImageTransform.Microsoft.Matrix(
	M11=0.9914448613738104, M12=-0.13052619222005157,M21=0.13052619222005157, M22=0.9914448613738104, sizingMethod='auto expand');*/
}
.card-stack {
	position: absolute;
	width: 282px;
	height: 178px;
	margin: 12px 0 0 15px;
	padding: 0;
	border: 1px solid #777777;
	z-index: 0;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}

.card-container{
	position: relative;
	z-index: 2 !important;
}
.card-container:hover{
	position: relative;
	z-index: 2 !important;
}
textarea.card-front,
textarea.card-back{
	margin: 0;
	padding: 0;
	color: #777777;
}
/*
* THE BACKPACK (User landing page after login)
*/
#backpack{ }
#backpack .stacks.index{
	width: 100%;
	border: none;
}
#backpack #card-0 a:link,
#backpack #card-0 a:active,
#backpack #card-0 a:visited{
	color: #0080ce;
}
#backpack #card-0 a:hover{
	color: #006cae;
}
ul.info{
	list-style-type: none;
	padding: 0;
	margin: 20px 0 20px 0; 
	font-size: 18px;
}
ul.info li{
	display: inline;
	padding: 0;
	margin: 0 10px 5px 0;
	color: #9c9c9c;
}
ul.info li span.value{
	font-weight: bold;
	color: #000000;
}
ul.info li span.count{
}
ul.info li span.price{
	color: green;
}
.clear{
	width: 100%;
	clear: both;
}
.footnote{
	font-size: 10px;
	text-align: center;
}
.radio{
	background: url('../img/common/radio-button-killer.png') no-repeat;
	width: 30px !important;
	height: 15px !important;
	float: left;
	clear: none !important;
	margin: 0px !important;
	padding: 0px !important;
	opacity:0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
	border: 1px solid #d9d9d9 !important;
}
.radio-checked{
    background: url('../img/common/radio-button-killer.png') no-repeat;
    width: 30px !important;
	height: 15px !important;
	float: left;
	clear: none !important;
	margin: 0px !important;
	padding: 0px !important;
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	border: 1px solid #d9d9d9 !important;
}

table tr.sort-bar th,
table tr.sort-bar th a:link,
table tr.sort-bar th a:active,
table tr.sort-bar th a:visited{
	border: none;
	color: #c9c9c9;
	font-weight: normal;
	text-decoration: none;
}

table tr.sort-bar th a:hover{
	text-decoration: underline;
}

p.paging-details {
	color: #c9c9c9;
	font-weight: normal;
	font-size: 10px;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
}

/* Card Styling */
tr.the-cards{ }
td.card,
div.card{
	position: relative;
	display: inline-block;
	clear: none;
	width: 282px;
	height: 178px;
	margin: 15px 20px 5px 15px;
	padding: 0px;
	cursor:pointer;
	border: 1px solid #777777;
}
div.card-data{
	padding: 55px 15px 15px 15px;
}
div.tags {
	padding: 0;
	margin: 0;
	background: none;
}
div.tags ul#tagcloud{
	width: 282px;
	padding: 0 10px 0 0;
	margin: 20px 0 0 0 !important;
}
div.tags ul#tagcloud li,
div.tags ul#tagcloud li a{
	list-style-type: none;
	display: inline !important;
	font-size: 10px !important;
	color: #535353;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
}
div.tags ul#tagcloud li a:hover{
	text-decoration: underline;
}
td.card a,
div.card a{
	text-align: left;
	padding: 0 !important;
	text-indent: 0px;
	font-size: 24px;
	line-height: normal !important;
	color: #535353;
	text-decoration: none;
	font-weight: normal;
	border: none;
	background: transparent;
}
td.card p,
div.card p{
	padding: 0;
	margin: 0;
	line-height: normal !important;
}
div.card-links{
	position: absolute;
	text-align: right;
	margin: 7px;
	display: none;
	width: 96%;
	height: 40px;
	z-index: 3;
}
div.card-links a,
div.card-links img{
	padding: 0;
	margin: -5px 0 0 2px;
	clear: none;
	display: inline;
	vertical-align: middle;
	cursor: pointer;
}
/* Stack Index */
div.stacks.index tr{
	width: 100%;
	float: left;
}
.stacks.index table tr td{
	display: inline;
	float: left;
	width: 282px;
	height: 178px;
	margin: 12px 15px;
	border: none;
}
div.stacks.index td.card div.card-data div.tags ul#tagcloud,
div.stacks.index div.card div.card-data div.tags ul#tagcloud{
	margin: 60px 0 0 0 !important;
	width: 220px;
}

/* Stack View */
div.stacks.view {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
}
div.stacks.view div.card{
	position: relative;
	width: 282px;
	height: 169px;
	margin: 0;
	padding: 0;
	cursor: auto;
	border: 1px solid #777777;
}
div.stacks.view div.card div.card-data,
div.related div.card div.card-data{
	padding: 55px 15px 15px 15px;
}
div.stacks.view div.card div.card-data .description{
	font-size: 11px;
	font-weight: normal;
	padding: 0;
	margin: 5px 0 0 0;
	color: #535353;
	background: none;
}
div.stacks.view div.card div.card-data .tags,
div.related div.card div.card-data .tags{
	position: absolute;
	top: 110px;
	padding: 0;
	width: 200px;
	margin: 0;
	background: none;
}

div.card div.card-data a.title{
	display: block;
	text-align: left;
	padding: 0 !important;
	text-indent: 0px;
	font-size: 24px;
	line-height: normal !important;
	color: #535353;
	text-decoration: none;
	font-weight: normal;
	border: none;
	background: transparent;
}
div.stacks.view div.card p{
	padding: 0;
	margin: 0;
	line-height: normal !important;
}

/* Stack Related cards */
div.flipped-icon{
	position: absolute;
	font-size: 13px;
	left: 265px;
	padding: 2px;
}
div.related,
div.view{
	position: relative;
	margin: 25px 0 0 0;
	padding: 0;
	border: none;
}
div.related div.card-container,
div.view div.card-container{
	background: none;
}
div.related div.quickflip-wrapper,
div.view div.quickflip-wrapper{
	position: relative;
	float: left;
	width: 282px;
	height: 169px;
	clear: none;
	margin: 15px 15px 0 0;
	padding: 0;
	background: none;
	cursor: pointer;
}
div.related div.quickflip-wrapper div.card,
div.view div.quickflip-wrapper div.card{
	display: block;
	clear: none;
	overflow: hidden;
	text-align: left;
	padding: 0 !important;
	text-indent: 0px;
	font-size: 24px;
	font-weight: normal;
	line-height: normal !important;
	color: #535353;
	text-decoration: none;
	border: none;
	width: 282px;
	height: 169px;
}
div.related div.quickflip-wrapper div.card a,
div.view div.quickflip-wrapper div.card a{
	text-decoration: none;
	color: #535353;
}
div.related div.quickflip-wrapper div.card.panel1,
div.related div.quickflip-wrapper div.card.panel2,
div.view div.quickflip-wrapper div.card.panel1,
div.view div.quickflip-wrapper div.card.panel2{
	margin: 0; padding: 0;
	clear: none;
}

div.related div.quickflip-wrapper div.card.panel1,
div.view div.quickflip-wrapper div.card.panel1 {
	z-index: 1;
}
div.related div.quickflip-wrapper div.card.panel2,
div.view div.quickflip-wrapper div.card.panel2 {
	display: none;
}

/* Tag Cloud */
ul#tagcloud{ 
	position: absolute;
	z-index: 2;
	line-height: normal;
	display: block;
	list-style-type: none;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}
ul#tagcloud li{
	display: inline;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
ul#tagcloud li::after{
	content: ', ';
}
ul#tagcloud li:last-child::after{
	content: '';
}
div.stacks.top {
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
	clear: both;
}
div.stacks.top .stacks.form{
	padding: 0;
	margin: 0;
	width: 100%;
	border: none;
}
div.stacks.top .stacks.form form{
	clear: none;
} 
div.stacks.top .stacks.form .information{
	float: left;
	width: 290px;
	color: #777777;
	margin: 0 25px 0 0;
}
div.stacks.top .stacks.form .information p{
	font-size: 10px;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
}
div.stacks.top .stacks.form fieldset.stacks{
	clear: none;
	float: left;
	width: 600px;
}
div.stacks.top .stacks.form fieldset textarea{
	clear: none;
}
/*div.stacks.top .stacks.form div{ clear: none; }*/
div.stacks.top .stacks.form fieldset{
	padding: 0;
	margin: 0 0 0 0;
}
div.stacks.top .stacks.form fieldset .title{
	position: relative;
	float: left;
	width: 291px !important;
	height: 188px !important;
	clear: none;
	margin: 0 15px 0 0;
	padding: 0;
	text-align: center;
	background: transparent url('../img/common/notecard-white-290x187.jpg') no-repeat top left;
}
div.stacks.top .stacks.form .error-message{
	line-height: normal;
	padding: 5px;
	margin: 5px auto -20px auto;
	background: pink;
	width: 75%;
	font-size: 12px;
}
div.stacks.top .stacks.form fieldset .title input,
div.stacks.top .stacks.form fieldset .title .title-holder{
	clear: none;
	color: #777777;
	font-size: 24px;
	padding: 0 0 0 0;
	width: 228px;
	margin: 50px auto 0 auto;
	background: none;
	border: 1px solid #f2f2f2;
}
div.stacks.top .stacks.form fieldset .title .color-panel{
	position: absolute;
	top: 130px;
	left: 20px;
	clear: both;
	width: 250px;
	margin: 0;
	padding: 0;
	line-height: normal;
	text-align: left;
	
}
div.stacks.top .stacks.form fieldset .title .color-panel fieldset legend{
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	color: #535353;
	font-size: 10px;
	padding: 0 0 10px 0;
}
div.stacks.top .stacks.form fieldset .top.right {
	float: left;
	clear: none;
	width: 275px;
	line-height: normal;
	background: transparent;
}

form .description,
form .tags{
	padding: 10px;
	margin: 0 0 5px 0;
	background: #ffffff;
	line-height: normal;
	clear: none;
}
form .description textarea,
form .tags input{
	font-size: 10px;
	color: #777777;
	border: none;
	resize: none;
}
div.stacks.top .stacks.form fieldset .top.right .tags .input.text{
	font-size: 10px;
}
div.stacks.top .stacks.form fieldset.cards {
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
}
div.stacks.top .stacks.form fieldset.cards textarea{
	color: #777777;
	font-size: 10px;
}
div.stacks.top .stacks.form fieldset.cards div{
	margin: 0;
	padding: 0;
}
div.stacks.top .stacks.form fieldset.cards .input{
	float: left;
	clear: none;
	padding: 0;
	margin: 0;
}
div.stacks.top .stacks.form fieldset.cards .card-input-container{
	height: 70px;
	padding: 10px;
	margin: 0 0 10px 0;
	clear: both;
}
div.stacks.top .stacks.form fieldset.cards .card-input-container div.num{
	float: left;
	padding: 0;
	font-size: 18px;
	margin: 0 13px 0 0;
}
div.stacks.top .stacks.form fieldset.cards textarea.card-front{
	width: 297px;
	height: 60px;
	clear: none;
	resize: none;
	margin: 0 15px 0 0;
	border: none;
	color: #777777;
}
div.stacks.top .stacks.form fieldset.cards textarea.card-back{
	width: 530px;
	height: 60px;
	clear: none;
	resize: none;
	border: none;
	margin: 0 5px 0 0;
	color: #777777;
}
div.stacks.top .stacks.form fieldset.cards .remove{
	display: inline;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 0 0 0 5px;
	clear: none;
}
div.stacks.top .stacks.form fieldset.cards .remove.hidden{
	display: inline;
	visibility:hidden;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 0 0 0 5px;
	clear: none;
}
div.stacks.form div.submit {
	text-align: right;
}
div.cards.form div.submit input[type="submit"],
div.stacks.form div.submit input[type="submit"]{
	background: #0080ce;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0089d0), to(#0053c2));
	background-image: -webkit-linear-gradient(top, #0089d0, #0053c2);
	background-image: -moz-linear-gradient(top, #0089d0, #0053c2);
	/*border-color: #2D6324;*/
	border: none;
	color: white;
	text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
	padding: 8px 10px;
	font-family: 'Arvo', Rockwell, "Courier New", Courier, Georgia, Times, "Times New Roman", serif;
	cursor: pointer;
}

/* Search View */
div.stacks.find .color-panel{
	position: relative;
	clear: both;
	width: 300px;
	margin: 10px 0 0 0;
	padding: 0;
	line-height: normal;
	text-align: left;
}
div.stacks.find .title {
	margin: 0 0 5px 0;
	padding: 0;
}
div.stacks.find .title input{
	color: #777777;
	font-size: 24px;
	margin: 0;
	background: #ffffff;
	border: 1px solid #f2f2f2;
}
div.stacks.find .description {
	padding: 0;
	margin: 0;
	background: none;
}
div.stacks.find .description textarea{
	font-size: 12px;
	border: 1px solid #f2f2f2;
}
div.stacks.find .tags{
	padding: 0;
	margin: 10px 0;
	border: 1px solid #f2f2f2;
}

/* Search Nav */
div.sub-nav div.stacks.find .title {
	float: left;
	clear: none;
	margin: 5px;
	padding: 0;
}
div.sub-nav div.stacks.find .title input{
	color: #777777;
	font-size: 24px;
	margin: 0;
	background: #ffffff;
	border: 1px solid #f2f2f2;
}

div.sub-nav div.stacks.find .color-panel{
	position: relative;
	float: left;
	clear: none;
	width: auto;
	margin: 6px 0 0 0;
	padding: 0;
	line-height: normal;
	text-align: left;
}
div.sub-nav div.stacks.find input[type='image']{
	position: relative;
	display: inline;
	margin: 5px 5px 5px 15px;
	padding: 0;
	width:16px;
	height:16px;
	clear:none;
}

/* Search results */
div.stacks.results table tr{
	position: relative;
	display: block;
	float: none;
	border: none;
}
div.stacks.results table td{
	border: none;
}
div.stacks.results table td.card,
div.stacks.results table div.card{
	position: relative;
	clear: none;
	width: 183px;
	height: 116px;
	margin: 5px 5px 5px 0;
	padding: 0px;
	cursor:pointer;
	border: 1px solid #777777;
}
div.stacks.results table td.card span.card-overlay,
div.stacks.results table div.card span.card-overlay{
	width: 183px;
	height: 116px;
}
div.stacks.results table td.card div.card-data,
div.stacks.results table div.card div.card-data{
	padding: 35px 10px 10px 10px;
}
div.stacks.results table td.card div.tags,
div.stacks.results table div.card div.tags {
	position: absolute;
	top: 70px;
	padding: 0;
	width: 155px;
	margin: 0;
	background: none;
}
div.stacks.results table td.card div.tags ul#tagcloud,
div.stacks.results table div.card div.tags ul#tagcloud{
	width: 150px;
	padding: 0 10px 0 0;
	margin: 15px 0 0 0 !important;
}
div.stacks.results table td.card div.tags ul#tagcloud li,
div.stacks.results table div.card div.tags ul#tagcloud li,
div.stacks.results table td.card div.tags ul#tagcloud li a,
div.stacks.results table div.card div.tags ul#tagcloud li a{
	list-style-type: none;
	display: inline !important;
	font-size: 9px !important;
	color: #535353;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
}
div.stacks.results table td.card div.tags ul#tagcloud li a:hover,
div.stacks.results table div.card div.tags ul#tagcloud li a:hover{
	text-decoration: underline;
}
div.stacks.results h2{
	border-top: 1px solid #e7e7e7;
	margin: 25px 0 0 0;
	padding: 15px 0 0 0;
}
/** Cards Add **/
.cards.form {
	width: 100%;
	border: none;
}
.cards.form .input.textarea{
	float: left;
	clear: none;
	margin: 0 10px 0 0;
	width: 43%;
	height: 150px;
	background: transparent;
}
.cards.form textarea{
	float: inline;
	border: none;
	clear: none;
	resize: none;
	font-weight: normal;
}
.cards.form .tags{
	background: transparent;
	margin: 0;
	padding: 0;
}
.cards.form .tags label{
	font-size: 12px;
}
.cards.form .input.textarea textarea,
.cards.form .tags input{
	margin-top: 5px;
	padding: 7px;
	background: #ffffff;
	border: 1px solid #f2f2f2;
}
/** Cards View **/
/* The stack card inside of the card view */
div.cards.view div.stacks.view{
	width: auto;
	float: left;
	margin: 0;
	padding: 0;
}
div.cards.view div.stacks.view div.card{
	padding: 0;
	width: 183px !important;
	height: 116px !important;
	margin: 5px 10px 5px 0 !important;
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
	cursor: pointer;
}
div.cards.view div.stacks.view div.card div.card-data{
	padding: 35px 0 0 10px;
}
div.cards.view div.stacks.view div{
	line-height: normal;
}
div.cards.view div.stacks.view div.card span.card-overlay{
	width: 183px !important;
	height: 116px !important;
}
/** Stack Test Page **/
div.existing-test input[type='radio'],
div.test-selection input[type='radio']{
	position: relative;
	margin: 2px 10px 0 0;
}
div.existing-test input[type='text'],
div.test-selection input[type='text']{
	margin: 0 0 5px 0;
}
div.card-container{ 
	position: relative;
	margin: 0 0 0 -25px;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
div.card-container div.slides-container{
	position: relative;
	display: block;
	width: 9999px;
	height: 400px;
	margin: 0;
	z-index: 1;
	background: transparent;
}
div.card-container div.slides-container div.test-card ul.test-card-actions{
	position: relative;
	float: left;
	list-style-type: none;
	width: 100px;
	margin: 0;
	padding: 0;
	width: 65px;
	clear: none;
}
div.card-container div.slides-container div.test-card ul.test-card-actions li{
	list-style-type: none;
	width: 52px;
	margin: 0 auto;
	padding: 0;
	clear: none;
}
div.card-container .slide-navigation{
	position: relative;
	display: block;
	width: 600px;
	margin: 25px auto;
	z-index: 3;
	clear: both;
}
div.shortcut-guide{
	position: relative;
	margin: 25px 0 0 0;
	font-size: 12px;
	color: #a7a7a7;
	z-index: 1;
	clear: both;
}
div.shortcut-guide legend{
	border-bottom: 1px solid #a7a7a7;
	padding: 2px;
}
div.shortcut-guide ul{
	margin: 5px;
	padding: 0;
}
div.card-container .slide-navigation .left-arrow {
	position: relative;
	float: left;
}
div.card-container .slide-navigation .left-arrow img{
	clear: none;
	height: 30px;
	width: auto;
}
div.card-container .slide-navigation .right-arrow {
	position: relative;
	float: right;
}
div.card-container .slide-navigation .right-arrow img{
	clear: none;
	height: 30px;
	width: auto;
}
div.card-container .slide-navigation .right-arrow.disabled img,
div.card-container .slide-navigation .left-arrow.disabled img{
	opacity:0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
}

/* The next card in the stack */
div.slides-container div.test-card.next{
	opacity:0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
}

div.slides-container div#test-card-0{
	margin:  15px 15px 15px 175px;
}
div.slides-container div.test-card{
	float: left;
	position: relative;
	clear: none;
	width: 740px;
	cursor: normal;
	margin:  15px;
}
div.slides-container div.test-card div.container{
	float: left;
	position: relative;
	clear: none;
	width: 598px;
	height: 352px;
	margin: 0;
	padding: 0;
	font-size: 24px;
	text-align: center;
	border: 31px solid #ffffff;
	cursor: default;
}
div.slides-container div.test-card div.container div.stack-name{
	position: absolute;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	font-weight: normal;
	top: 0;
	left: 0;
	padding: 0;
	margin: 7px 0 0 7px;
	font-size: 13px;
	color: #b2b2b2;
	text-align: left;
}
div.slides-container div.test-card div.container.shadow{
	-moz-box-shadow: 0px -10px 30px #dadada;
	-webkit-box-shadow: 0px -10px 30px #dadada;
	box-shadow: 0px -0px 30px #dadada;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=0, Color='#dadada')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=0, Color='#dadada');
}
div.slides-container div.test-card div.card-data{
	padding: 130px 25px;
}
div.slides-container div.test-card span.card-overlay{
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 0px;
	width: 598px;
	height: 352px;
	background: transparent url('../img/common/card-overlay-598x352.png') no-repeat top left;
	border: 1px solid #dadada;
}


div.slides-container div.test-card div.quickflip-wrapper{
	position: relative;
	float: left;
	width: 598px;
	height: 352px;
	clear: none;
	margin: 0;
	padding: 0;
	background: none;
	cursor: default;
}
div.slides-container div.test-card div.quickflip-wrapper div.timer{
	position: absolute;
	left: 535px;
	font-size: 12px;
	margin: 5px 0;
	color: #d7d7d7;
}
div.slides-container div.test-card div.card{
	display: block;
	clear: none;
	overflow: hidden;
	padding: 0 !important;
	text-indent: 0px;
	font-size: 24px;
	font-weight: normal;
	line-height: normal !important;
	color: #535353;
	text-decoration: none;
	border: none;
}
div.slides-container div.test-card div.card .grade-panel .loading{
	width: 16px;
	height: 16px;
	background: transparent url('../img/common/ajax-loader.gif') no-repeat top left;
	visibility: hidden;
}
div.slides-container div.test-card div.card .grade-panel,
div.slides-container div.test-card div.card .grade-panel a{
	font-size: 14px;
}
div.slides-container div.test-card div.card .grade-panel {
	position: absolute;
	text-align: left;
	top: 250px;
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #777777;
}
div.slides-container div.test-card div.card div.submit input[type='submit']{
	position: relative;
	margin: 100px 0;
	z-index: 6;
	cursor: pointer;
	clear: both;
}
div.slides-container div.test-card div.card .grade-panel legend{
	font-size: 12px;
	float: left;
	clear: none;
	margin: 0 15px 0 0;
}
div.slides-container div.test-card div.card .grade-panel input,
div.slides-container div.test-card div.card .grade-panel label{
	float: left;
	clear: none;
	margin: 0 10px 0 0;
}
div.slides-container div.test-card div.card .grade-panel input[type='radio']{
	position: relative;
	margin: 2px 5px 0 0;
	z-index: 5;
}

div.slides-container div.test-card div.card .grade-panel a:link,
div.slides-container div.test-card div.card .grade-panel a:active,
div.slides-container div.test-card div.card .grade-panel a:visited{
	text-decoration: underline;
	cursor: pointer;
}
div.slides-container div.test-card div.card .grade-panel a:hover{
	text-decoration: none;
}

div.slides-container div.test-card div.quickflip-wrapper div.card.panel1,
div.slides-container div.test-card div.quickflip-wrapper div.card.panel2{
	margin: 0; padding: 0;
	clear: none;
}

div.slides-container div.test-card div.quickflip-wrapper div.card.panel1{
	/*z-index: 1;*/
}
div.slides-container div.test-card div.quickflip-wrapper div.card.panel2{
	/*display: none;*/
}
div.slides-container div.test-card div.quickflip-wrapper div.card.panel2 div.flipped-icon{
	position: relative;
	z-index: 5;
	margin: 0 0 0 300px;
	text-align: center;
	font-size: 20px;
	padding: 2px;
	width: 25px;
	height: 25px;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
	cursor: pointer;
}
div.slides-container div.test-card div.quickflip-wrapper div.card.panel2 div.flipped-icon:hover{
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}